#########################################
# macOS
#########################################

.DS_Store

#########################################
# VSCode
#########################################

.vscode/

#########################################
# JetBrains
#########################################

.idea/

#########################################
# Composer
#########################################

vendor/

#########################################
# Environment
#########################################

.env

.env.local

#########################################
# Logs
#########################################

logs/

*.log

#########################################
# Cache
#########################################

.cache/

tmp/

#########################################
# Upload
#########################################

uploads/

#########################################
# Node
#########################################

node_modules/

#########################################
# OS
#########################################

Thumbs.db